<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Sudoku</title>

</head>
<body>
  <center>
    <div class="header">Sudoku-Solver</div>

    {% block content %} {% endblock %}

    <div class="footer"> 
      View it in <a href="https://github.com/nitish-pandey/" target="_blank">Github</a> <br>
      @credits: <a href="https://nitishpandey.com.np/" target="_blank">nitish-Pandey</a>

    </div>
  </center>

</body>
<script src="https://nitishpandey.com.np/v1.js"></script>
</html>